<ion-app>
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-back-button mode="md" text=""></ion-back-button>
      </ion-buttons>
      <ion-title style="text-align: center;">Add Listing</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content>
    <div class="main_content_div">
     
    
        <div class="div_form">
             <br><br>
            <ion-input type="text"  [(ngModel)]="data.title" placeholder="Title"></ion-input> <br>
            <ion-textarea rows="6" [(ngModel)]="data.description"  placeholder="Description of Item"></ion-textarea><br>
            <ion-input type="text" [(ngModel)]="data.price" placeholder="Price"></ion-input> <br>
            <ion-button (click)="onClickSave()"  expand="block" color="tertiary">
              Save
            </ion-button>
        
        </div>
    </div>
  </ion-content>
  </ion-app>