<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button mode="md" text="" (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  


  <div class = "emailForm">
   
    <form [formGroup]="registration_form">
      <ion-item lines="full">
        <ion-label position="floating">First Name</ion-label>
        <ion-input type="text" formControlName="fname" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Last Name</ion-label>
        <ion-input type="text" formControlName="lname" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Mobile Number</ion-label>
        <ion-input type="text" formControlName="pnum" required></ion-input>
      </ion-item>
      <ion-row>
        <ion-col color="secondary">
          <ion-button class="btn_class" [disabled]="!registration_form.valid" color="secondary" type="submit" (click)="update(registration_form.value)" expand="block">Update</ion-button>
        </ion-col>
      </ion-row>

    </form>
  </div>
  
</ion-content>