<ion-header>
  <ion-toolbar color="tertiary">
   
    <ion-title style="text-align: center;">Profile</ion-title>
    <ion-buttons slot="end">
      
   
      
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="login-logo" *ngFor="let note of (user|async)">
    <img src="{{note.imageuri}}" class="logo_icon">



  </div>
  <div style="text-align: center;">
    <input type="file" (change)="showPreview($event)" class="custom-file-input">
<ion-button (click)="save()" [class.button-disabled]="choose()" >Change It</ion-button>
  </div>


 


  <div style="text-align: center;">
    <ion-card>
    <ion-list *ngFor="let note of (user|async)">
      <h5>First Name : {{note.fname}}</h5>
      <h5>Last Name : {{note.lname}}</h5>
      <h5>Phone Number : {{note.pnum}}</h5>

    </ion-list>
<ion-button (click)="gotoEdit()">Update Details</ion-button>
</ion-card>
  </div>


<div>
  <h1>{{uploading}}</h1>
</div>
</ion-content>