<ion-header>
  <ion-toolbar color="tertiary">
   
    <ion-title style="text-align: center;">Home Page</ion-title>
    <ion-buttons slot="end">
        
       
        
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="padding" color="light">
  <div class="main_content_div">
  <ion-list *ngFor="let note of (notes|async)" color = "dark">
    <ion-card color="light">  
    <ion-card-header color="light">
      <ion-card-subtitle color="light">
        {{note.title}}
       
      </ion-card-subtitle>
      <ion-item lines="none" color="light">
        <ion-icon name="clipboard-outline"></ion-icon>
        <div style="padding-left: 10px;">
        <ion-label color="light" class = "date">{{note.description}}</ion-label>
        <ion-label color="light" class = "date">{{note.price}}</ion-label>
      </div>
      </ion-item>
    </ion-card-header>
  
  </ion-card>

  </ion-list>





</div>
</ion-content>