.main_content_div{
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 0, 0, 0.2);
    
    ion-label {
        display: block;
        color: #be008ffa;
        padding-left: 20px;
        

    }   
    ion-card-subtitle{
        font-weight: 650;
        font-size: 30px;
        color :rgba(37, 136, 167, 0.925);
        
    }
    ion-card{

        border-radius: 50px;
        box-shadow: 0px 9px 9px rgba(148, 0, 0, 0.733);
        margin-top: 50px;
        position: relative;



        padding-top:20px;
        padding-left:20px;

        display: flex;
        flex-direction: row;
        height: 150px;
    

        
        .date{
            font-weight: 450;
            font-size: 20px;
            font-style:italic;
        }
        .pending{
            color: rgba(167, 0, 0, 0.753);
            font-weight: 600;
        }
        .accepted{
            color: green;
            font-weight: 600;
        }
        .canceled{
            color: rgba(167, 0, 0, 0.753);
            font-weight: 600;
        }
        .new{
            color: var(--ion-color-secondary);
            font-weight: 600;
        }
        .price{
            position: absolute;
            right: 0;
            top: 0;
            background: var(--ion-color-secondary);
            padding: 5px 10px;
            color: rgba(167, 0, 0, 0.753);
            font-weight: 600;
            border-bottom-left-radius: 20px;
            border-top-right-radius: 10px;         
        }
    }

}
.ioncontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    
  }