<ion-header>
  <ion-toolbar color="tertiary">
   
    <ion-title style="text-align: center;">Home Page</ion-title>
    <ion-buttons slot="end">
        
       
        
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list *ngFor="let note of (notes|async)">
    <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        {{note.title}}
       
      </ion-card-subtitle>
      <ion-item lines="none">
        <ion-icon name="clipboard-outline"></ion-icon>
        <ion-label>{{note.description}}</ion-label>
        <ion-label>{{note.price}}</ion-label>
      </ion-item>
    </ion-card-header>
   
  </ion-card>
  </ion-list>






</ion-content>